In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
%matplotlib inline

In [3]:
train=pd.read_csv("DATASETS/titanic/train.csv")
test=pd.read_csv("DATASETS/titanic/test.csv")

In [4]:
passenger_id=test["PassengerId"]

In [5]:
train=train.drop(["PassengerId","Name","Ticket","Cabin"],axis=1)
test=test.drop(["PassengerId","Name","Ticket","Cabin"],axis=1)

In [6]:
train["Sex"]=train["Sex"].map({"male":0,"female":1})
test["Sex"]=test["Sex"].map({"male":0,"female":1})

In [7]:
train_embarked=pd.get_dummies(train["Embarked"],prefix="embarked",drop_first=True)
train_pclass=pd.get_dummies(train["Pclass"],prefix="pclass",drop_first=True)
train=pd.concat([train,train_embarked,train_pclass],axis=1)
train.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,embarked_Q,embarked_S,pclass_2,pclass_3
0,0,3,0,22.0,1,0,7.2500,S,0,1,0,1
1,1,1,1,38.0,1,0,71.2833,C,0,0,0,0
2,1,3,1,26.0,0,0,7.9250,S,0,1,0,1
3,1,1,1,35.0,1,0,53.1000,S,0,1,0,0
4,0,3,0,35.0,0,0,8.0500,S,0,1,0,1

In [8]:
train=train.drop(["Pclass","Embarked"],axis=1)

In [9]:
test_embarked=pd.get_dummies(test["Embarked"],prefix="embarked",drop_first=True)
test_pclass=pd.get_dummies(test["Pclass"],prefix="pclass",drop_first=True)
test=pd.concat([test,test_embarked,test_pclass],axis=1)
test.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,embarked_Q,embarked_S,pclass_2,pclass_3
0,3,0,34.5,0,0,7.8292,Q,1,0,0,1
1,3,1,47.0,1,0,7.0000,S,0,1,0,1
2,2,0,62.0,0,0,9.6875,Q,1,0,1,0
3,3,0,27.0,0,0,8.6625,S,0,1,0,1
4,3,1,22.0,1,1,12.2875,S,0,1,0,1

In [10]:
test=test.drop(["Pclass","Embarked"],axis=1)

In [11]:
test.head()

,Sex,Age,SibSp,Parch,Fare,embarked_Q,embarked_S,pclass_2,pclass_3
0,0,34.5,0,0,7.8292,1,0,0,1
1,1,47.0,1,0,7.0000,0,1,0,1
2,0,62.0,0,0,9.6875,1,0,1,0
3,0,27.0,0,0,8.6625,0,1,0,1
4,1,22.0,1,1,12.2875,0,1,0,1

In [13]:
train=train.fillna(train["Age"].mean())
test=test.fillna(test["Age"].mean())

In [14]:
data=train.drop("Survived",axis=1)
target=train["Survived"]

In [25]:
logreg=LogisticRegression()

In [26]:
logreg.fit(data,target)

/home/hardik/.local/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [27]:
predict=logreg.predict(test)

In [28]:
#converting into csv
p_id=pd.Series(passenger_id,name="PassengerId")
surv= pd.Series(predict,name="Survived")
results = pd.concat([p_id,surv],axis=1)

results.to_csv("survived_logreg.csv",index=False)

In [29]:
from sklearn.ensemble import RandomForestClassifier
random_forest = RandomForestClassifier(n_estimators=100)

random_forest.fit(data,target)

Y_pred = random_forest.predict(test)
#converting into csv
p_id=pd.Series(passenger_id,name="PassengerId")
surv= pd.Series(Y_pred,name="Survived")
results = pd.concat([p_id,surv],axis=1)

results.to_csv("survived_randomforest.csv",index=False)
#random_forest.score(X_train, Y_train)